<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="BB 21st Portal">
	<link rel="icon" type="image/svg+xml" href="static/images/BB logo.webp" />
	<link rel="preload" href="{{ url_for('static', filename='style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='icons.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='images/coy logo.webp') }}" as="image">
	<link rel="preload" href="{{ url_for('static', filename='images/slide 1.webp') }}" as="image">
	<title>BB 21st Portal</title>
</head>
<body>
	<header sticky="false">
		<i class="fa-solid fa-bars"></i>
		<a href="/" aria-label="Home">
            <div></div>
        </a>
		<div>
			<a href="/annual_calendar">Annual Calendar</a>
			<a href="/parade_notice">Parade Notice</a>
			<a href="/login">Members Log In</a>
		</div>
	</header>

	<section class='slider' data-slide='1'></section>

	<section class='achievements'>
		<h2>Our Achievements</h2>
		<div>
			<h3>2024</h3>
			<ul>
				<li>BB Blaze 2024 - Silver Honour Roll</li>
				<li>J M Fraser Award 2024 - Distinction</li>
				<li>Founder's Award 2024 - Staff Sergeant Emmanuel Lim Tze Yong -Staff Sergeant Asher Long Zhijie</li>
				<li>BB Cares 2024 - Partnership with Lions Befrienders to engage elderly folk through conversations and cleaning their homes.</li>
				<li>BB Character Quest 2024 - Results to be released</li>
				<li>BB Share-a-Gift 2024</li>
			</ul>
		</div>
		<div>
			<h3>2023</h3>
			<ul>
				<li>Staff Sergeants Dylan Yeo, Jaedon Ho and Jesse Oh were awarded the Founder’s Award 2022</li>
				<li>Bronze Honour Roll placing in Boys’ Brigade Adventure Blaze 2023 Competition</li>
				<li>Awarded J M Frazer Distinction Award</li>
				<li>Created and celebrated National Day event with the residents of Geylang East Home for the Aged as part of BB Cares VIA Outreach programme.</li>
			</ul>
		</div>
	</section>

	<section class='hero'>
		<h2>Not Just A CCA</h2>
		<div>
			<div></div>
			<p>Our members form lasting friendships and camaraderie through shared experiences and teamwork, fostering a supportive and united community that transcends our activities' boundaries.<br /><br />Empowering youth to take the lead, we nurtures future-ready leaders with the skills, confidence, and character to inspire change and make a difference.</p>
			<div></div>
		</div>
	</section>

	<section class="testimonies">
		<h2>Don't just take it from us</h2>
		<div class="scroller">
			<div>
				<div class="testimony">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, optio accusamus ipsam molestiae, omnis voluptatum repellat atque laboriosam dolor amet sint tempore minima eius maiores officia voluptates voluptas aspernatur autem!</p>
					<p>Name | Date</p>
				</div>
				<div class="testimony">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam culpa perferendis debitis, esse, voluptatem beatae maxime facilis cupiditate laudantium minus omnis voluptas accusantium, maiores ipsum fuga nulla quo enim eveniet?</p>
					<p>Name | Date</p>
				</div>
				<div class="testimony">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad porro ab autem enim. Eos quam eligendi minus voluptas maxime magnam eaque possimus dolorum quisquam, inventore unde totam, at labore dolor.</p>
					<p>Name | Date</p>
				</div>
				<div class="testimony">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci unde excepturi rerum minus atque, tempore, dolorum reiciendis eveniet totam nam at eos in doloremque veniam placeat sequi molestias, sapiente inventore!</p>
					<p>Name | Date</p>
				</div>
				<div class="testimony">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis corrupti mollitia pariatur repudiandae, in inventore iste laborum deserunt consequatur facere adipisci vero quod ullam vel, possimus libero non laudantium aut.</p>
					<p>Name | Date</p>
				</div>
				<div class="testimony">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nam pariatur aliquid in eius ab minima, expedita, laudantium aliquam exercitationem dolor nobis, ad error dolores ipsa! Magnam deserunt temporibus repellat!</p>
					<p>Name | Date</p>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div>
			<div>
				<p>Social Media:</p>
				<a href="https://www.instagram.com/bb21coy/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
			</div>
			<div>
				<p>Affiliated With:</p>
				<div>
					<img src="static/images/gm.webp" width="60px" height="60px" alt="Geylang Methodist School (Secondary)" />
					<img src="static/images/church.png" width="60px" height="60px" alt="Christalite Methodist Chapel"/>
				</div>
			</div>
			<div>
				<p>Associated Websites:</p>
				<div>
                    <a href="https://www.bb.org.sg/" target="_blank">BB HQ Website</a>
				    <a href="https://members.bb.org.sg/cos/o.x?c=/ca3_ca3bbportal/user&func=login" target="_blank">BB Members Portal</a>
                </div>
			</div>
		</div>
		<div>
			<p>Icons by  <a href="https://fontawesome.com/" title="Font Awesome" target="_blank">Font Awesome</a></p>
			<p>Website designed and developed by: Dylan Yeo</p>
		</div>
	</footer>

	<script src="static/js/index.js"></script>
	<script src="static/js/common.js"></script>
</body>
</html>
