<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="BB 21st Portal">
	<link rel="icon" type="image/svg+xml" href="static/images/BB logo.webp" />
	<link rel="preload" href="{{ url_for('static', filename='style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='icons.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='images/coy logo.webp') }}" as="image">
	<title>BB 21st Portal</title>
</head>
<body>
	<header sticky="false">
        <i class="fa-solid fa-bars"></i>
		<a href="/" aria-label="Dashboard">
            <div></div>
        </a>
		<div>
			<a href="/annual_calendar">Annual Calendar</a>
			<a href="/parade_notice" active="true">Parade Notice</a>
			<a href="/login">Members Log In</a>
		</div>
	</header>

    <main class="calendar">
		<button id="print">
			<i class="fa-solid fa-print"></i>
			Print
		</button>
		<div id="parade_content">The Parade Notice have not been released. Please check again at a later date. <br><br>Sorry for the inconvenience.</div>
    </main>

    <footer>
		<div>
			<div>
				<p>Social Media:</p>
				<a href="https://www.instagram.com/bb21coy/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
			</div>
			<div>
				<p>Affiliated With:</p>
				<div>
					<img src="static/images/gm.webp" width="60px" height="60px" alt="Geylang Methodist School (Secondary)" />
					<img src="static/images/church.png" width="60px" height="60px" alt="Christalite Methodist Chapel"/>
				</div>
			</div>
			<div>
				<p>Associated Websites:</p>
				<div>
                    <a href="https://www.bb.org.sg/" target="_blank">BB HQ Website</a>
				    <a href="https://members.bb.org.sg/cos/o.x?c=/ca3_ca3bbportal/user&func=login" target="_blank">BB Members Portal</a>
                </div>
			</div>
		</div>
		<div>
			<p>Icons by  <a href="https://fontawesome.com/" title="Font Awesome" target="_blank">Font Awesome</a></p>
			<p>Website designed and developed by: Dylan Yeo</p>
		</div>
	</footer>

	<div id="date" data-date="{{ date }}"></div>

	<div id="pdf-container"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="static/js/common.js"></script>
	<script src="static/js/parade_notice.js"></script>
</body>
</html>