<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BB 21st Portal">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/BB logo.webp') }}" />
	<link rel="preload" href="{{ url_for('static', filename='style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='icons.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='images/coy logo.webp') }}" as="image">
	<title>BB 21st Portal</title>
</head>
<body>
	<header sticky="false" type="home">
		<i class="fa-solid fa-bars"></i>
		<a href="/dashboard" aria-label="Dashboard">
            <div></div>
        </a>
		<div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
            {% if current_user.type.lower() == 'boy' %}
            <a href="/awards">
                <div>
                    <i class="fa-solid fa-award"></i>
                    <p>My Awards</p>
                </div>
            </a>
            {% endif %}

            {% if current_user.type.lower() == 'officer' or current_user.appt_holder or current_user.type.lower() == 'primer' %}

            <a href="/user_management/current_users">
                <div>
                    <img src="{{ url_for('static', filename='images/user_management.svg') }}" alt="">
                    <p>User Management</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.type.lower() == 'officer' or current_user.type.lower() == 'primer' %}

            <a href="/awards_tracker">
                <div>
                    <img src="{{ url_for('static', filename='images/awards_tracker.svg') }}" alt="">
                    <p>Awards Tracker</p>
                </div>
            </a>

            <a href="/results_generation">
                <div>
                    <i class="fa-solid fa-file-import"></i>
                    <p>Results Generation</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.type.lower() == 'officer' or current_user.appt_holder or current_user.type.lower() == 'primer' %}
            
            <a href="/parade_notice_and_attendance">
                <div>
                    <i class="fa-solid fa-file-invoice"></i>
                    <p>Parade Notices & Attendance</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.type.lower() == 'officer' %}

            <a href="/annual_calendar_updater">
                <div>
                    <i class="fa-solid fa-calendar-lines-pen"></i>
                    <p>Update Annual Calendar</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.id == 1 %}

            <a href="/settings?user=1&type=admin" title="Ensure all security measures are added before entering">
                <div>
                    <i class="fa-solid fa-gear"></i>
                    <p>Settings</p>
                </div>
            </a>

            {% endif %}

            <a href="/user_attendance">
                <div>
                    <img src="{{ url_for('static', filename='images/user_management.svg') }}" alt="">
                    <p>My Attendance</p>
                </div>
            </a>

            <a href="/profile">
                <div>
                    <i class="fa-solid fa-user"></i>
                    <p>My Profile</p>
                </div>
            </a>

            <a href="/reset_login_information">
                <div>
                    <i class="fa-solid fa-sync"></i>
                    <p>Reset Login Information</p>
                </div>
            </a>

            <a href="/logout">
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <p>Logout</p>
                </div>
            </a>
		</div>
	</header>

    <main class="user_management">
        <p class="route"><a href="/dashboard">Dashboard</a> > <a href="/user_management/current_users">User Management</a> > <a href="/user_management/current_users">Current Users</a> > <a href="/user_management/current_users/{% if user %}{{ user.id }}{% else %}Create New Account{% endif %}">{% if user %}{% if user.rank == 'NIL' %}{{ user.honorifics }}{% else %}{{ user.rank }}{% endif %} {{ user.user_name }}{% else %}Create New Account{% endif %}</a></p>

        <section class="toggle_buttons">
            <a href="/user_management/current_users">
                <button active="true">Current Users</button>
            </a>
            
            {% if current_user.type.lower() != 'boy' %}
            <a href="/user_management/graduated_boys">
                <button>Graduated Boys</button>
            </a>
            <a href="/user_management/appointment_holders">
                <button>Appointment Holders</button>
            </a>
            <a href="/user_management/nco_council">
                <button>NCO Council</button>
            </a>
			{% endif %}
        </section>

        <section class="user_management_current mobile_view">
            <div id="users_list"></div>
            <div>
                <a href="/user_management/current_users">
                    <i class="fa-solid fa-chevron-left"></i>
                    <h2>{% if user %}User - {% if user.rank == "NIL" %}{{ user.honorifics }}{% else %}{{ user.rank }}{% endif %} {{ user.user_name }}{% else %}Create New Account{% endif %}</h2>
                </a>
                <form id="form">
                    <label for="user_name">User Name:</label>
                    <input type="text" id="user_name" name="user_name" autocomplete="name" required value="{{ user.user_name if user }}">
                    <label for="abb_name">Abbreviated Name:</label>
                    <input type="text" id="abb_name" name="abb_name" autocomplete="name" value="{{ user.abbreviated_name if user }}">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" autocomplete="new-password" required>
                    <label for="nominal_roll">Appear in attendance</label>
                    <select name="nominal_roll" id="nominal_roll" required>
                        <option value="yes" {% if user and (user.attendance_appearance or user.attendence_appeareance) == 'yes' %}selected{% endif %}>Yes</option>
                        <option value="no" {% if user and (user.attendance_appearance or user.attendence_appeareance) == 'no' %}selected{% endif %}>No</option>
                    </select>
                    <label for="account_type">Account Type:</label>
                    <select name="type" id="account_type" required>
                        <option value="boy" {% if user and user.account_type.lower() == 'boy' %}selected{% endif %}>Boy</option>
                        <option value="primer" {% if user and user.account_type.lower() == 'primer' %}selected{% endif %}>Primer</option>
                        <option value="officer" {% if user and user.account_type.lower() == 'officer' %}selected{% endif %}>Officer</option>
                    </select>                    
                    
                    <div id="boy">
                        <label for="rank">Rank:</label>
                        <select name="rank" id="rank" required>
                            <option value="REC" {% if user and user.rank == 'REC' %}selected{% endif %}>Recruit (REC)</option>
                            <option value="LCP" {% if user and user.rank == 'LCP' %}selected{% endif %}>Lance Corporal (LCP)</option>
                            <option value="CPL" {% if user and user.rank == 'CPL' %}selected{% endif %}>Corporal (CPL)</option>
                            <option value="SGT" {% if user and user.rank == 'SGT' %}selected{% endif %}>Sergeant (SGT)</option>
                            <option value="SSG" {% if user and user.rank == 'SSG' %}selected{% endif %}>Staff Sergeant (SSG)</option>
                            <option value="WO" {% if user and user.rank == 'WO' %}selected{% endif %}>Warrant Officer (WO)</option>
                        </select>                        
                        <label for="level">Secondary:</label>
                        <select name="level" id="level">
                            <option value="1" {% if user and user.level == '1' %}selected{% endif %}>1</option>
                            <option value="2" {% if user and user.level == '2' %}selected{% endif %}>2</option>
                            <option value="3" {% if user and user.level == '3' %}selected{% endif %}>3</option>
                            <option value="4" {% if user and user.level == '4' %}selected{% endif %}>4</option>
                            <option value="5" {% if user and user.level == '5' %}selected{% endif %}>5</option>
                        </select>
                    </div>

                    <div id="boy1">
                        <label for="member_id">Member ID</label>
                        <input type="text" name="member_id" id="member_id" value="{{ user.member_id if user }}">

                        <label for="sec1_class">Secondary 1 Class</label>
                        <input type="text" name="sec1_class" id="sec1_class" value="{{ user.sec1_class if user }}">

                        <label for="sec2_class">Secondary 2 Class</label>
                        <input type="text" name="sec2_class" id="sec2_class" value="{{ user.sec2_class if user }}">

                        <label for="sec3_class">Secondary 3 Class</label>
                        <input type="text" name="sec3_class" id="sec3_class" value="{{ user.sec3_class if user }}">

                        <label for="sec4_class">Secondary 4 Class</label>
                        <input type="text" name="sec4_class" id="sec4_class" value="{{ user.sec4_class if user }}">

                        <label for="sec5_class">Secondary 5 Class</label>
                        <input type="text" name="sec5_class" id="sec5_class" value="{{ user.sec5_class if user }}">

                        <label for="sec1_rank">End of Secondary 1 Rank</label>
                        <select name="sec1_rank" id="sec1_rank">
                            <option value="" selected>NIL</option>
                            <option value="REC" {% if user and user.sec1_rank == 'REC' %}selected{% endif %}>Recruit (REC)</option>
                            <option value="LCP" {% if user and user.sec1_rank == 'LCP' %}selected{% endif %}>Lance Corporal (LCP)</option>
                            <option value="CPL" {% if user and user.sec1_rank == 'CPL' %}selected{% endif %}>Corporal (CPL)</option>
                            <option value="SGT" {% if user and user.sec1_rank == 'SGT' %}selected{% endif %}>Sergeant (SGT)</option>
                            <option value="SSG" {% if user and user.sec1_rank == 'SSG' %}selected{% endif %}>Staff Sergeant (SSG)</option>
                            <option value="WO" {% if user and user.sec1_rank == 'WO' %}selected{% endif %}>Warrant Officer (WO)</option>
                        </select>

                        <label for="sec2_rank">End of Secondary 2 Rank</label>
                        <select name="sec2_rank" id="sec2_rank">
                            <option value="" selected>NIL</option>
                            <option value="REC" {% if user and user.sec2_rank == 'REC' %}selected{% endif %}>Recruit (REC)</option>
                            <option value="LCP" {% if user and user.sec2_rank == 'LCP' %}selected{% endif %}>Lance Corporal (LCP)</option>
                            <option value="CPL" {% if user and user.sec2_rank == 'CPL' %}selected{% endif %}>Corporal (CPL)</option>
                            <option value="SGT" {% if user and user.sec2_rank == 'SGT' %}selected{% endif %}>Sergeant (SGT)</option>
                            <option value="SSG" {% if user and user.sec2_rank == 'SSG' %}selected{% endif %}>Staff Sergeant (SSG)</option>
                            <option value="WO" {% if user and user.sec2_rank == 'WO' %}selected{% endif %}>Warrant Officer (WO)</option>
                        </select>

                        <label for="sec3_rank">End of Secondary 3 Rank</label>
                        <select name="sec3_rank" id="sec3_rank">
                            <option value="" selected>NIL</option>
                            <option value="REC" {% if user and user.sec3_rank == 'REC' %}selected{% endif %}>Recruit (REC)</option>
                            <option value="LCP" {% if user and user.sec3_rank == 'LCP' %}selected{% endif %}>Lance Corporal (LCP)</option>
                            <option value="CPL" {% if user and user.sec3_rank == 'CPL' %}selected{% endif %}>Corporal (CPL)</option>
                            <option value="SGT" {% if user and user.sec3_rank == 'SGT' %}selected{% endif %}>Sergeant (SGT)</option>
                            <option value="SSG" {% if user and user.sec3_rank == 'SSG' %}selected{% endif %}>Staff Sergeant (SSG)</option>
                            <option value="WO" {% if user and user.sec3_rank == 'WO' %}selected{% endif %}>Warrant Officer (WO)</option>
                        </select>

                        <label for="sec4_rank">End of Secondary 4 Rank</label>
                        <select name="sec4_rank" id="sec4_rank">
                            <option value="" selected>NIL</option>
                            <option value="REC" {% if user and user.sec4_rank == 'REC' %}selected{% endif %}>Recruit (REC)</option>
                            <option value="LCP" {% if user and user.sec4_rank == 'LCP' %}selected{% endif %}>Lance Corporal (LCP)</option>
                            <option value="CPL" {% if user and user.sec4_rank == 'CPL' %}selected{% endif %}>Corporal (CPL)</option>
                            <option value="SGT" {% if user and user.sec4_rank == 'SGT' %}selected{% endif %}>Sergeant (SGT)</option>
                            <option value="SSG" {% if user and user.sec4_rank == 'SSG' %}selected{% endif %}>Staff Sergeant (SSG)</option>
                            <option value="WO" {% if user and user.sec4_rank == 'WO' %}selected{% endif %}>Warrant Officer (WO)</option>
                        </select>

                        <label for="graduated">Graduated</label>
                        <select name="graduated" id="graduated">
                            <option value="yes" {% if user and user.graduated == 1 %}selected{% endif %}>Yes</option>
                            <option value="no" {% if user and user.graduated == 0 %}selected{% endif %}>No</option>
                        </select>
                    </div>

                    <div id="primer">
                        <label for="rank1">Rank:</label>
                        <select name="rank1" id="rank1">
                            <option value="NIL" selected>Not Applicable</option>
                            <option value="CLT" {% if user and user.rank == 'CLT' %}selected{% endif %}>Cadet Lieutenant (CLT)</option>
                            <option value="SCL" {% if user and user.rank == 'SCL' %}selected{% endif %}>Senior Cadet Lieutenant (SCL)</option>
                        </select>
                        <label for="credential">Credentials (for 32A Results)</label>
                        <input type="text" name="credential" id="credential" value="{{ user.credential if user }}">
                    </div>

                    <div id="officer">
                        <label for="rank2">Rank:</label>
                        <select name="rank2" id="rank2">
                            <option value="NIL" selected>Not Applicable</option>
                            <option value="OCT" {% if user and user.rank == 'OCT' %}selected{% endif %}>Officer Cadet (OCT)</option>
                            <option value="2LT" {% if user and user.rank == '2LT' %}selected{% endif %}>Second Lieutenant (2LT)</option>
                            <option value="LTA" {% if user and user.rank == 'LTA' %}selected{% endif %}>Lieutenant (LTA)</option>
                        </select>
                        <label for="honorifics">Honorifics:</label>
                        <select name="honorifics" id="honorifics">
                            <option value="MR" {% if user and user.honorifics == 'MR' %}selected{% endif %}>MR</option>
                            <option value="MS" {% if user and user.honorifics == 'MS' %}selected{% endif %}>MS</option>
                            <option value="MRS" {% if user and user.honorifics == 'MRS' %}selected{% endif %}>MRS</option>
                        </select>
                        <label for="class">Class:</label>
                        <select name="class" id="class">
                            <option value="val" {% if user and user.class and user.class.lower() == 'val' %}selected{% endif %}>Volunteer</option>
                            <option value="staff" {% if user and user.class and user.class.lower() == 'staff' %}selected{% endif %}>Staff</option>
                            <option value="uni" {% if user and user.class and user.class.lower() == 'uni' %}selected{% endif %}>University</option>
                            <option value="poly" {% if user and user.class and user.class.lower() == 'poly' %}selected{% endif %}>Polytechnic</option>
                        </select>
                        <label for="credential1">Credentials (for 32A Results)</label>
                        <input type="text" name="credential" id="credential1" value="{{ user.credentials if user }}">
                    </div>
                    <button type="button" id="create">Create</button>
                    <button type="button" id="save">Save</button>
                    <button type="button" id="delete">Delete</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
		<div>
			<div>
				<p>Social Media:</p>
				<a href="https://www.instagram.com/bb21coy/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
			</div>
			<div>
				<p>Affiliated With:</p>
				<div>
					<img src="{{ url_for('static', filename='images/gm.webp') }}" width="60px" height="60px" alt="Geylang Methodist School (Secondary)" />
					<img src="{{ url_for('static', filename='images/church.png') }}" width="60px" height="60px" alt="Christalite Methodist Chapel"/>
				</div>
			</div>
			<div>
				<p>Associated Websites:</p>
				<div>
					<a href="https://www.bb.org.sg/" target="_blank">BB HQ Website</a>
					<a href="https://members.bb.org.sg/cos/o.x?c=/ca3_ca3bbportal/user&func=login" target="_blank">BB Members Portal</a>
				</div>
			</div>
		</div>
		<div>
			<p>Icons by  <a href="https://fontawesome.com/" title="Font Awesome" target="_blank">Font Awesome</a></p>
			<p>Website designed and developed by: Dylan Yeo</p>
		</div>
	</footer>

    <div class="error_container" id="error_container"></div>

    <div id="new_user" class="confirmation">
        <div>
            <img src="{{ url_for('static', filename='images/confirm.webp') }}" alt="Confirmation Image" width="200px" height="200px">
        
            <h2>Are you sure?</h2>

            <p>This action cannot be undone</p>

            <div>
                <button>Yes</button>
                <button>No</button>
            </div>
        </div>
    </div>

    <div data-account-type="{{ user.account_type if user }}" id="user"></div>
    <div id="account_type_user" account-type="{{ current_user.type }}"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" defer></script>
    <script src="{{ url_for('static', filename='js/common.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/logged_in.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/user_management.js') }}" defer></script>
</body>
</html>