<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BB 21st Portal">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/BB logo.webp') }}" />
	<link rel="preload" href="{{ url_for('static', filename='style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='icons.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ url_for('static', filename='images/coy logo.webp') }}" as="image">
	<title>BB 21st Portal</title>
</head>
<body>
    <header sticky="false" type="home">
		<i class="fa-solid fa-bars"></i>
		<a href="/dashboard" aria-label="Dashboard">
            <div></div>
        </a>
		<div>
			<i class="fa-solid fa-ellipsis-vertical"></i>
            {% if current_user.type.lower() == 'boy' %}
            <a href="/awards">
                <div>
                    <i class="fa-solid fa-award"></i>
                    <p>My Awards</p>
                </div>
            </a>
            {% endif %}

            {% if current_user.type.lower() == 'officer' or current_user.appt_holder or current_user.type.lower() == 'primer' %}

            <a href="/user_management/current_users">
                <div>
                    <img src="{{ url_for('static', filename='images/user_management.svg') }}" alt="">
                    <p>User Management</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.type.lower() == 'officer' or current_user.type.lower() == 'primer' %}

            <a href="/awards_tracker">
                <div>
                    <img src="{{ url_for('static', filename='images/awards_tracker.svg') }}" alt="">
                    <p>Awards Tracker</p>
                </div>
            </a>

            <a href="/results_generation">
                <div>
                    <i class="fa-solid fa-file-import"></i>
                    <p>Results Generation</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.type.lower() == 'officer' or current_user.appt_holder or current_user.type.lower() == 'primer' %}
            
            <a href="/parade_notice_and_attendance">
                <div>
                    <i class="fa-solid fa-file-invoice"></i>
                    <p>Parade Notices & Attendance</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.type.lower() == 'officer' %}

            <a href="/annual_calendar_updater">
                <div>
                    <i class="fa-solid fa-calendar-lines-pen"></i>
                    <p>Update Annual Calendar</p>
                </div>
            </a>

            {% endif %}

            {% if current_user.id == 1 %}

            <a href="/settings?user=1&type=admin" title="Ensure all security measures are added before entering">
                <div>
                    <i class="fa-solid fa-gear"></i>
                    <p>Settings</p>
                </div>
            </a>

            {% endif %}

            <a href="/user_attendance">
                <div>
                    <img src="{{ url_for('static', filename='images/user_management.svg') }}" alt="">
                    <p>My Attendance</p>
                </div>
            </a>

            <a href="/profile">
                <div>
                    <i class="fa-solid fa-user"></i>
                    <p>My Profile</p>
                </div>
            </a>

            <a href="/reset_login_information">
                <div>
                    <i class="fa-solid fa-sync"></i>
                    <p>Reset Login Information</p>
                </div>
            </a>

            <a href="/logout">
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <p>Logout</p>
                </div>
            </a>
		</div>
	</header>

	<main class="user_management">
		<p class="route"><a href="/dashboard">Dashboard</a> > <a href="/user_management/current_users">User Management</a> > <a href="/user_management/appointment_holders">Appointment Holders</a></p>

        <section class="toggle_buttons">
            <a href="/user_management/current_users">
                <button>Current Users</button>
            </a>

			{% if current_user.type.lower() != 'boy' %}
            <a href="/user_management/graduated_boys">
                <button>Graduated Boys</button>
            </a>
            <a href="/user_management/appointment_holders">
                <button active="true">Appointment Holders</button>
            </a>
            <a href="/user_management/nco_council">
                <button>NCO Council</button>
            </a>
			{% endif %}
        </section>

        <section class="user_management_appt">
			<div>
				<h2>Appointment Holders</h2>
				<div>
					<div id="user_list"></div>
					<div>
						<i class="fa-solid fa-save"></i>
						<p>Auto Save</p>
					</div>
				</div>
			</div>

			<form action="">
				<div>
					<h3>Captain & CSM</h3>
					<label for="captain">Captain:</label>
					<select name="captain" id="captain" database-id="1">
						<option value="" selected disabled>NIL</option>
					</select>

					<label for="csm">Company Sergeant Major:</label>
					<select name="csm" id="csm" database-id="2">
						<option value="" selected disabled>NIL</option>
					</select>
				</div>

				<div>
					<h3>Platoon Sergeants</h3>
					<label for="ps_45">Sec 4/5 PS:</label>
					<select name="ps_45" id="ps_45" database-id="3">
						<option value="" selected>NIL</option>
					</select>
					<label for="ps_3">Sec 3 PS:</label>
					<select name="ps_3" id="ps_3" database-id="4">
						<option value="" selected disabled>NIL</option>
					</select>
					<label for="ps_2">Sec 2 PS:</label>
					<select name="ps_2" id="ps_2" database-id="5">
						<option value="" selected disabled>NIL</option>
					</select>
					<label for="ps_1">Sec 1 PS:</label>
					<select name="ps_1" id="ps_1" database-id="6">
						<option value="" selected>NIL</option>
					</select>
				</div>

				<div>
					<h3>Others</h3>
					<label for="admin">Admin Sergeant:</label>
					<select name="admin" id="admin" database-id="7">
						<option value="" selected disabled>NIL</option>
					</select>
					<label for="log">Logistics Sergeant:</label>
					<select name="log" id="log" database-id="8">
						<option value="" selected disabled>NIL</option>
					</select>
					<label for="ce">CE Sergeant:</label>
					<select name="ce" id="ce" database-id="9">
						<option value="" selected disabled>NIL</option>
					</select>
				</div>
			</form>
        </section>
	</main>

	<footer>
		<div>
			<div>
				<p>Social Media:</p>
				<a href="https://www.instagram.com/bb21coy/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
			</div>
			<div>
				<p>Affiliated With:</p>
				<div>
					<img src="{{ url_for('static', filename='images/gm.webp') }}" width="60px" height="60px" alt="Geylang Methodist School (Secondary)" />
					<img src="{{ url_for('static', filename='images/church.png') }}" width="60px" height="60px" alt="Christalite Methodist Chapel"/>
				</div>
			</div>
			<div>
				<p>Associated Websites:</p>
				<div>
					<a href="https://www.bb.org.sg/" target="_blank">BB HQ Website</a>
					<a href="https://members.bb.org.sg/cos/o.x?c=/ca3_ca3bbportal/user&func=login" target="_blank">BB Members Portal</a>
				</div>
			</div>
		</div>
		<div>
			<p>Icons by  <a href="https://fontawesome.com/" title="Font Awesome" target="_blank">Font Awesome</a></p>
			<p>Website designed and developed by: Dylan Yeo</p>
		</div>
	</footer>

	<div username="{{ current_user.username }}" id="current_user"></div>
	<div class="error_container" id="error_container"></div>

	<div class="tooltip" id="tooltip">
		<p>This page is live-shared, meaning everyone can see changes in real-time.<br><br>Your work is automatically saved, so you don't need to worry about losing it!</p>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" defer></script>
	<script src="{{ url_for('static', filename='js/appt_holder.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/common.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/logged_in.js') }}" defer></script>
</body>
</html>